<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Loja</title>
</head>

<body>
    <header>
        <div class="INTERFACE">
            <section class="LOGO">
                <h1>City Style</h1>
            </section>
            <section class="NAVEGACAO">
                <a href="#">Sobre</a>
                <a href="#">Localização</a>
                <a href="#">Mais Opeções</a>
            </section>
        </div>
    </header>
    <main>
        <div class="INTERFACE">
            <section class="INICIO">
                <img src="" alt="">

                <div class="PRODUTO">
                    <img src="public/download.jpg" alt="">
                    <h4>Camisa Polo</h4>
                    <section>
                        <div class="ESTOQUE">
                            <p>Estoque atual:</p>
                            <p> 10 </p>
                        </div>

                        <div class="CLI_QUANTIDADE">
                            <h1 id="QUANTIDADE">0</h1>
                            <div>
                                <tr>
                                    <th><button class="BOTAO" id="MENOS">&lt</button></th>
                                    <th><button class="BOTAO" id="MAIS">&gt</button></th>
                                </tr>
                            </div>
                        </div>
                        <button type="submit" class="BOTAO_COMPRA">Comprar</button>
                    </section>
                </div>
            </section>
        </div>
    </main>
    <script src="home.js"></script>
</body>
S
</html>